<div class="advent-container">
    <h1 class="advent-title"><img width="75%" ; src="~/assets/spieler/Weihnachten/LOGO.svg" /></h1>
    <p class="font-weihnachten">
        Jeden Tag im Advent öffnest du hier ein neues Türchen in unserem digitalen 
        Adventskalender. Doch bevor du es öffnen darfst, geht die Reise in unserem 
        Weihnachtsbuch weiter: Lies die Geschichte bis zu der Seite, die mit dem Stern 
        der heutigen Tageszahl markiert ist. Erst dann öffnest du das passende Türchen 
        hier im Kalender.<br /><br />

        Hinter jedem Türchen erwartet dich ein besonderer Moment unseres Abenteuers
        – ein vertraulicher Dialog zwischen Emma und Kasimir, ein charakterstarkes 
        Lied oder eine Entscheidung, bei der du gefragt bist. Dieser besondere Inhalt
        knüpft direkt an die letzte Zeile der gelesenen Buchseite an und lässt dich 
        tiefer in die Welt von "Der Sternendieb" eintauchen.<br /><br />

        An manchen Tagen stehst du vor einer wichtigen Wahl: Soll Emma  oder 
        Kasimir sich durchsetzen? Entscheidest du dich für Emma, hörst du im 
        Anschluss, wie Kasimir auf sie reagiert. Wählst du Kasimir, erfährst 
        du Emmas Antwort. Jede deiner Entscheidungen sammelt Entschlossenheits-Punkte 
        für den jeweiligen Charakter – und alle Stimmen aller Spieler gemeinsam bestimmen 
        am Ende, wer mit mehr Entschlossenheit, sich mit euch im Januar ins Getümmel schmeißt.<br /><br />

        Ich wünsche dir viel Freude beim täglichen Lesen, Entdecken und Mitentscheiden!
    </p>
    <a asp-controller="Player" asp-action="Weihnachtsabenteuer">
        <div class="advent-title"><img width="35%" src="~/assets/spieler/Weihnachten/zuKalender.svg" alt="Kalender" /></div>
    </a>
</div>
