@model Character
@{
    ViewData["Title"] = "Meine Character";
}
@section Styles {
    <link href="/css/antique-home.css" rel="stylesheet" />
    <link href="/css/character.css" rel="stylesheet" />
}

<header class="antique-header">
    <h3 style="text-align:center; color: #8b7355; font-family: 'MedievalSharp', cursive">
        Worum soll es heute gehen?
    </h3>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-grid gap-5 col-6">
            <a asp-action="MeineDaten" class="btn shadow-lg p-3 hover-card w-100">
                Meine Daten bearbeiten
            </a>
            @if (Model != null)
            {
                <a asp-controller="Character" asp-action="Form" asp-route-id="@Model.Id" class="btn shadow-lg p-3 hover-card w-100" style="background-color: @Model.UserColor">
                    Meinen Charakter bearbeiten
                </a>

            }
            else
            {
                <a class="btn btn-outline-danger shadow-lg p-3 hover-card w-100">
                    kein Charakter zugewiesen, Gott informieren
                </a>
            }
            <a asp-controller="Player" asp-action="Weihnachtenuebersicht" class="btn shadow-lg p-3 hover-card text-white w-100" style="background-image: url(/images/spieler/Weihnachten/Background.svg);">
                Das Weihnachtsabenteuer
            </a>
        </div>
    </div>
</div>