<!-- Die Kalender-Container -->
<div class="advent-container">
    <h1 class="advent-title"><img width="75%" ; src="~/images/spieler/Weihnachten/LOGO.svg" /></h1>
    <a asp-controller="Player" asp-action="Anleitung">
        <div class="advent-title"><img width="50%" src="~/images/spieler/Weihnachten/anleitung.svg" alt="Anleitung" class="anleitung-button" /></div>
    </a>
    <a asp-controller="Player" asp-action="Weihnachtsabenteuer">
        <div class="advent-title"><img width="50%" src="~/images/spieler/Weihnachten/kalender.svg" alt="Kalender" class="kalender-button" /></div>
    </a>
</div>
