html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fdf6e3; /* helles Sandgelb */
}

.magic-icon {
    width: 24px;
    height: 25px;
}
.text-very-small {
    font-size: 0.75rem;
}
.section-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card {
    min-height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


/* Hover-Schatten je nach Magieklasse */
.dunkel-hover:hover {
    box-shadow: 0 4px 12px #372334;
}

.luft-hover:hover {
    box-shadow: 0 4px 12px #abb8d4;
}

.wasser-hover:hover {
    box-shadow: 0 4px 12px #19879f;
}

.seele-hover:hover {
    box-shadow: 0 4px 12px #d46aab;
}
.flora-hover:hover {
    box-shadow: 0 4px 12px #226d22;
}
.fauna-hover:hover {
    box-shadow: 0 4px 12px #604136;
}
.licht-hover:hover {
    box-shadow: 0 4px 12px #f8ecd0;
}
.schmerz-hover:hover {
    box-shadow: 0 4px 12px #963742;
}
.geist-hover:hover {
    box-shadow: 0 4px 12px #431b92;
}
.feuer-hover:hover {
    box-shadow: 0 4px 12px #bb2929;
}
.zeit-hover:hover {
    box-shadow: 0 4px 12px #bd9a4c;
}
.mantik-hover:hover {
    box-shadow: 0 4px 12px #597476;
}
.daemmerung-hover:hover {
    box-shadow: 0 4px 12px #989693;
}

/* Lightcard je nach Magieklasse */
.dunkel {
    background-color: #372334;
}

.luft {
    background-color: #abb8d4;
}

.wasser {
    background-color: #19879f;
}

.seele {
    background-color: #d46aab;
}

.flora {
    background-color: #226d22;
}

.fauna {
    background-color: #604136;
}

.licht {
    background-color: #f8ecd0;
}

.schmerz {
    background-color: #963742;
}

.geist {
    background-color: #431b92;
}

.feuer {
    background-color: #bb2929;
}

.zeit {
    background-color: #bd9a4c;
}

.mantik {
    background-color: #597476;
}

.daemmerung {
    background-color: #989693;
}

.card-red {
    background-color: rgba(255, 80, 0, 0.4);
}

.card-blue {
    background-color: rgba(0, 150, 255, 0.4);
}

.card-violett {
    background-color: rgb(128, 0, 128, 0.4);
}

.card-green {
    background-color: rgba(0, 180, 90, 0.4);
}

.card-yellow {
    background-color: rgba(255, 215, 0, 0.8);
}

.card-brown {
    background-color: rgba(139, 69, 19, 0.4);
}

.card-shadow {
    background-color: rgba(20, 20, 20, 0.5);
}

/**
    * CSS für die Familienbaumdarstellung
 */
.family-tree {
    position: relative;
}

.family-card {
    margin-bottom: 15px;
    border: 2px solid #ddd;
    transition: all 0.3s;
}

.root-card {
    border-color: #007bff;
    background-color: #f8f9fa;
}

.parent-card {
    border-color: #28a745;
}

.sibling-card {
    border-color: #ffc107;
}

.descendant-card {
    border-color: #dc3545;
}

.family-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}